
*{
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
}

span {
    font-weight: bold;
}

header {
    padding: 1em;
    background-color: #222;
    color: white;
    display: flex;
    align-items: center;
    top: 0;
    position: sticky;
}

header a {
    color: white;
    text-decoration:none;
    padding: 0 1em;
}

header a:hover {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



main {
    background-color: white;
    color: black;
}

.intro {
    background-image: url(images/sunset.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 1em;
    height: 800px;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.read-more-button {
    display: inline-block;
    color: #222;
    background-color: white;
    text-decoration:none;
    border-radius: 5cm;
    padding: 1em;
    transition: transform 0.5s;
}

.read-more-button:hover {
    transform: scale(1.08);
}

.about {
    background-color: white;
    padding: 1em;
    margin-left: 2em;
    margin-right: 3em;
    
}

.about h2 {
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content img {
    max-width: 200px;
}

.about-content p {
    margin: 50px;
    padding: 10px;
    line-height: 150%;
}

.merit-kompetenser {
    background-color: rgb(224, 224, 224);
    padding: 3em;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.merit-kompetenser p {
    padding: 10px;
    line-height: 150%;
}

.projects {
    background-color: white;
    padding: 1em;
    margin-left: 2em;
    margin-right: 3em;
    text-align: center;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
}

.project-card {
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
}

.project-card img {
    max-width: 40%;
    max-height: 100%;
}

.project-card:hover {
    transform: scale(1.04);
}

.contact {
    color: white;
    background-color: #222;
    text-decoration:none;
    padding: 1em;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #181818;
    color: white;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
  .about-content {
    flex-direction: row;
    justify-content: center;
  }

  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}




